<div class="container">
  <div class="row">
    <%= form_with(model: @task, local: true, class: 'mx-auto') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.label :deadline %>
      <div class="input-group date" id="datetimepicker" data-target-input="nearest">
        <%= f.text_field :deadline, class: 'form-control datetimepicker-input', 'data-target': '#datetimepicker' %>
        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      <%= f.label :priority %>
      <%= f.select :priority, Task.priorities.keys.map { |k| [Task.priorities_i18n[k], k]}, include_blank: true %>
      <%= f.label :status %>
      <%= f.select :status, Task.statuses.keys.map { |k| [Task.statuses_i18n[k], k]} %>
      <%= f.submit %>
    <% end %>

    <script type="text/javascript">
      $(function(){
        $('#datetimepicker').datetimepicker({
          dayViewHeaderFormat: 'YYYY年 MMMM',
          tooltips: {
            close: '閉じる',
            selectMonth: '月を選択',
            prevMonth: '前月',
            nextMonth: '次月',
            selectYear: '年を選択',
            prevYear: '前年',
            nextYear: '次年',
            selectTime: '時間を選択',
            selectDate: '日付を選択',
            prevDecade: '前期間',
            nextDecade: '次期間',
            selectDecade: '期間を選択',
            prevCentury: '前世紀',
            nextCentury: '次世紀'
          },
          format: 'YYYY/MM/DD',
          locale: 'ja',
          buttons: {
            showClose: true
          }
        });
      });
    </script>
  </div>
</div>
