<div class="container">
  <header>
    <%= render 'navbar' %>
    <div class="flash-message mb-5">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
  </header>

  <div id="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">状態</th>
          <th scope="col">タイトル</th>
          <th scope="col">
            <% if request.fullpath.include?("sort_column=priority&sort_direction=asc") %>
              <%= link_to tasks_path(sort_column: 'priority', sort_direction: 'desc'), class: 'sort-button' do %>
                優先度
                <i class="fas fa-sort-up ml-1"></i>
              <% end %>
            <% elsif request.fullpath.include?("sort_column=priority&sort_direction=desc") %>
              <%= link_to tasks_path, class: 'sort-button' do %>
                優先度
                <i class="fas fa-sort-down ml-1"></i>
              <% end %>
            <% else %>
              <%= link_to tasks_path(sort_column: 'priority', sort_direction: 'asc'), class: 'sort-button' do %>
                優先度
                <i class="fas fa-sort ml-1"></i>
              <% end %>
            <% end %>
          </th>
          <th scope="col">
            <% if request.fullpath.include?("sort_column=created_at&sort_direction=asc") %>
              <%= link_to tasks_path(sort_column: 'created_at', sort_direction: 'desc'), class: 'sort-button' do %>
                作成日
                <i class="fas fa-sort-up ml-1"></i>
              <% end %>
            <% elsif request.fullpath.include?("sort_column=created_at&sort_direction=desc") %>
              <%= link_to tasks_path, class: 'sort-button' do %>
                作成日
                <i class="fas fa-sort-down ml-1"></i>
              <% end %>
            <% else %>
              <%= link_to tasks_path(sort_column: 'created_at', sort_direction: 'asc'), class: 'sort-button' do %>
                作成日
                <i class="fas fa-sort ml-1"></i>
              <% end %>
            <% end %>
          </th>
          <th scope="col">
            <% if request.fullpath.include?("sort_column=deadline&sort_direction=asc") %>
              <%= link_to tasks_path(sort_column: 'deadline', sort_direction: 'desc'), class: 'sort-button' do %>
                終了期限
                <i class="fas fa-sort-up ml-1"></i>
              <% end %>
            <% elsif request.fullpath.include?("sort_column=deadline&sort_direction=desc") %>
              <%= link_to tasks_path, class: 'sort-button' do %>
                終了期限
                <i class="fas fa-sort-down ml-1"></i>
              <% end %>
            <% else %>
              <%= link_to tasks_path(sort_column: 'deadline', sort_direction: 'asc'), class: 'sort-button' do %>
                終了期限
                <i class="fas fa-sort ml-1"></i>
              <% end %>
            <% end %>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr class="tasks">
            <td class="align-middle"><%= task.status_i18n %></td>
            <td class="align-middle"><%= link_to task.title, task, id: "task-#{task.id}" %></td>
            <td class="align-middle"><%= task.priority_i18n if task.priority.present? %></td>
            <td class="align-middle"><%= task.created_at.to_s(:date) %></td>
            <td class="align-middle"><%= task.deadline.to_s(:date) if task.deadline.present? %></td>
            <td class="align-middle">
              <%= link_to '編集', edit_task_path(task), class: 'btn btn-primary' %>
              <%= link_to '削除', task, method: :delete, data:  { confirm: '削除してよろしいですか？' }, class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @tasks %>
  </div>
</div>