<div class="container">
  <header>
    <%= render 'navbar' %>
    <%= render 'shared/flash_message' %>
  </header>

  <div id="content">
    <table class="table table-hover tasks-table">
      <thead>
        <tr>
          <th scope="col">状態</th>
          <th scope="col">タイトル</th>
          <th scope="col">
            <%= render 'sort_button', set_sort_button_attr('優先度', 'priority') %>
          </th>
          <th scope="col">
            <%= render 'sort_button', set_sort_button_attr('作成日', 'created_at') %>
          </th>
          <th scope="col">
            <%= render 'sort_button', set_sort_button_attr('終了期限', 'deadline') %>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr class="tasks">
            <td class="align-middle"><%= task.status_i18n %></td>
            <td class="align-middle"><%= link_to task.title, task %></td>
            <td class="align-middle"><%= task.priority_i18n if task.priority.present? %></td>
            <td class="align-middle"><%= task.created_at.to_s(:date) %></td>
            <td class="align-middle"><%= task.deadline.to_s(:date) if task.deadline.present? %></td>
            <td class="align-middle">
              <%= link_to '編集', edit_task_path(task), class: 'btn btn-primary' %>
              <%= link_to '削除', task, method: :delete, data:  { confirm: '削除してよろしいですか？' }, class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @tasks %>
  </div>
</div>