<h1>タスク一覧</h1>

<h3>ソート</h3>
<p>作成日</p>
<button><%= link_to '降順', tasks_path %></button>
<p>終了期限</p>
<button><%= link_to '終了期限:昇順', tasks_path(deadline: 'asc') %></button>

<h3>検索</h3>
<%= form_tag tasks_path, method: 'get' do %>
  <%= label_tag "タイトル" %>
  <%= text_field_tag :title, params[:title] %>
  <%= label_tag "優先度" %>
  <%= select_tag :priority, options_for_select(Task.priorities_i18n.invert, selected: params[:priority]), include_blank: true %>
  <%= label_tag "状態" %>
  <%= select_tag :status, options_for_select(Task.statuses_i18n.invert, selected: params[:status]), include_blank: true %>
  <%= submit_tag "検索" %>
  <%#= submit_tag "リセット", type: :reset %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task %>
      <%= "優先度: #{task.priority_i18n}" if task.priority.present?%>
      <%= "状態: #{task.status_i18n}" %>
      <span>作成: </span>
      <%= task.created_at.to_s(:date) %>
      <%= "終了期限: #{task.deadline.to_s(:date)}" if task.deadline.present? %>
      <%= link_to '編集', edit_task_path(task) %>
      <%= link_to '削除', task, method: :delete, data:  { confirm: '削除してよろしいですか？' } %>
    </li>
  <% end %>
</ul>

<%= link_to '新規作成', new_task_path %>
