<h1>タスク一覧</h1>

<button><%= link_to '作成日:降順', tasks_path %></button>
<button><%= link_to '終了期限:昇順', tasks_path(deadline: 'asc') %></button>

<%= form_tag tasks_path, method: 'get' do %>
  <%= text_field_tag :title %>
  <%= select_tag :status, options_for_select(Task.statuses_i18n.invert), include_blank: true %>
  <%= submit_tag "検索", title: nil %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task %>
      <%= task.status_i18n %>
      <span>作成: </span>
      <%= task.created_at.to_s(:date) %>
      <%= "終了期限: #{task.deadline.to_s(:date)}" if task.deadline.present? %>
      <%= link_to '編集', edit_task_path(task) %>
      <%= link_to '削除', task, method: :delete, data:  { confirm: '削除してよろしいですか？' } %>
    </li>
  <% end %>
</ul>

<%= link_to '新規作成', new_task_path %>
