<div class="container">
  <header>
    <%= render 'navbar' %>
    <div class="flash-message mb-5">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
  </header>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2><%= @task.title %></h2>
      <p>説明: <%= @task.description %></p>
      <p>優先度: <%= @task.priority_i18n %></p>
      <p>状態: <%= @task.status_i18n %></p>

      <p>締切日: <%= @task.deadline %></p>
      <p>作成日: <%= @task.created_at %></p>
      <p>作成者: <%= @task.user.name %></p>


      <%= link_to '編集', edit_task_path, class: 'btn btn-block btn-primary' %>
      <%= link_to '戻る', tasks_path, class: 'btn btn-block btn-secondary' %>
    </div>
  </div>
</div>
