<div class="container">
  <header>
    <%= render 'shared/flash_message' %>
  </header>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2><%= @user.name %></h2>
      <p>email: <%= @user.email %></p>

      <%= link_to '編集', edit_user_path, class: 'btn btn-block btn-primary' %>
      <%= link_to '戻る', tasks_path, class: 'btn btn-block btn-secondary' %>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-block btn-secondary' %>
    </div>
  </div>
</div>
