<!DOCTYPE html>
<html>
  <head>
    <title>TaskBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Enable Asset Pipeline -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Disable Web Packer -->
    <%#= stylesheet_pack_tag 'application' %>
    <%#= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
